<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>
    <typeAliases>
        <!-- 将实体类设置别名 写实体类的包名 -->
        <package name="study.ssm.spring.transaction.model"/>
    </typeAliases>

    <!--sql mapper(sql映射文件的位置)-->
    <mappers>
        <!-- 将mapper文件加载进来 mapper文件以及dao对象所在的包名 -->
        <!-- 注意：包中的dao接口与mapper文件的名字必须一致 -->
        <package name="study.ssm.spring.transaction.dao"/>
    </mappers>
</configuration>